{% extends 'layout.html' %}

{% block content %}
<table class="table">
    <tr>
        <th class="h4" style="width: 30%;">제목</th>
        <td class="h3">{{ post.title }}</td>
    </tr>
    <tr>
        <th class="h4" style="width: 30%;">작성자</th>
        <td class="h3">{{ post.author }}</td>
    </tr>
    <tr>
        <th class="h4" style="width: 15%;">작성 날짜</th>
        <td class="h3">{{ post.created_at |date:"Y.m.d. H:i" }}</td>
    </tr>
</table>
<h5>{{ post.content }}</h5>
<a href="{{ post.attached.url }}" download="post_{{post.filename}}">{{post.filename}}</a>
{% endblock %}